<div class="contents">
  <div class="container">
    <h2>Sign up</h2>

    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.text_field :nickname, placeholder: "Nickname(8 characters maxium)", autofocus: true %>
      </div>

      <div class="field">
        <%= f.email_field :email, placeholder: "E-mail" %>
      </div>

      <div class="field">
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "Password_confirmation", autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "submit" %>
      </div>
    <% end %>
  </div>
</div>