<div class="contents">
  <div class="container">
    <h2>Log in</h2>
    <h3>【 ※テスト用 : E-mail = yoshi@gmail.com, Password = yoshi123 】</h3>

    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.email_field :email, placeholder: "E-mail", autofocus: true %>
      </div>

      <div class="field">
        <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'submit' %>
      </div>
    <% end %>
  </div>
</div>
